.secao-produtos {
  margin-top: 20px;
  padding: 2%;
  width: 100%;
  height: 100%;
}

.conteudo-home {
  margin: 0 auto;
  max-width: 1200px;
  gap: 30px;
  display: flex;
  justify-content: center;
}

.img-destaque {
  background: var(--cor-secundaria);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.produtos-lateral {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img-lateral-superior,
.img-lateral-inferior {
  background-color: var(--cor-secundaria);
  height: 100%;
  width: 100%;
}

/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
  background: var(--cor-botao);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  position: absolute;
  margin-left: 20rem;
  margin-top: 40rem;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.seta {
  background-color: var(--cor-texto);
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.cssbuttons-io-button-lateral {
  background: var(--cor-botao);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  height: 2.6em;
  padding-right: 3em;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  transition: all 0.3s ease;
  margin-left: 7rem;
  margin-top: 19rem;
}

.cssbuttons-io-button-lateral .icon {
  background: white;
  position: absolute;
  right: 0.35em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.1em;
  width: 2.1em;
  border-radius: 0.7em;
  transition: width 0.3s ease, background 0.3s ease;
}

.cssbuttons-io-button-lateral:hover .icon {
  width: calc(100% - 0.7em);
}

.cssbuttons-io-button-lateral .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button-lateral:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button-lateral:active .icon {
  transform: scale(0.95) translateY(-50%);
}

@media (max-width: 431px) {
  .secao-produtos {
    margin-right: -10%;
  }

  /* CRÍTICO: Empilha os blocos principais */
  .conteudo-home {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .produtos-lateral {
    /* Garante que ambos ocupem a largura total no mobile */
    height: 360px;
    width: 360px;
    flex-basis: 100%;
  }

  .img-destaque {
    /* Altura no mobile */
    height: 360px;
    width: 360px;
  }

  .cssbuttons-io-button {
    margin-left: 7rem;
    margin-top: 19rem;
    height: 2.2em;
    width: 10em;
  }
}
